{% extends "layout.html.jinja" %} {% block content %}
<h1 class="mb-2 text-2xl">更新文章</h1>
<form action="/posts/{{ post.id }}/update" method="POST" class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <label for="title">標題</label>
    <input
      type="text"
      id="title"
      name="title"
      class="w-full p-2 text-xl border border-gray-900 rounded-sm md:w-1/2"
      placeholder="請填寫標題"
      value="{{ post.title }}"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="content">內文</label>
    <textarea
      id="content"
      name="content"
      class="w-full p-2 text-xl border border-gray-900 rounded-sm md:w-1/2"
      placeholder="文章內容"
      rows="6"
    >
      {{ post.content }}</textarea
    >
  </div>
  <div>
    <button type="submit" class="p-2 text-lg text-white bg-blue-500 rounded-sm">更新文章</button>
  </div>
</form>
{% endblock %}