{% extends "layout.html.jinja" %}

{% block content %}
<h1 class="text-3xl">Hello Flask</h1>

<section class="flex flex-col gap-4 mt-2">
  {% for post in posts %}
  <div>
    <header class="my-1">
      <h2 class="text-lg font-bold">
        <a href="{{ url_for("detail", id=post.id) }}">{{ post.title }}</a>
      </h2>
    </header>
    <article class="flex flex-col gap-2 p-2 bg-slate-50">
      <time datetime="{{ post.created_at.isoformat() }}" class="text-xs text-slate-500">
        {{ post.created_at.strftime('%Y-%m-%d') }}
      </time>
      <p>{{ post.content }}</p>
    </article>
  </div>
  {% endfor %}
</section>
{% endblock %}