{% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="px-4 py-2 text-lg text-white bg-orange-500 rounded-sm select-none">
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
{% endwith %}