<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Flask Blog</title>
  </head>
  <body class="bg-gray-50">
    <main class="container p-12 mx-auto my-4 bg-white rounded shadow">
      {% include "common/flash.html.jinja" %}
      {% include "common/navbar.html.jinja" %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>